/*

0.5em=8px
0.75em=12px
1em=16px (Titulars)
1.5em=24px; (paràgrafs)
2em=32px(interliniat)

*/

body {
  font-size: 3em;
}

p {
  font-size: 1em;
  line-height: 2em;
  text-align: justify;
}

img {
  width: 100px;
}

div {
  width: 800px;
  margin:0 auto;
}

.esquerra {
  float: left;
  margin-right: 20px;
}

.dreta {
  float: right;
  margin-left: 20px;
  /* visibility no fa desapareixer l'element ]/
  /* visibility: hidden; */
}

.capitular {
  float: left;
  margin-right: 20px;
  width: 100px;
}

.inicial {
  text-indent: -16px;
}
.inicial::first-letter {
  color: #FFF;
}

.c1 {
  width: 390px;
  float: left;
}

.c2 {
  width: 390px;
  float: right;
}

h2 {
  font-family: 'Baloo Bhai', Helvetica, Arial, Sans-serif;
  font-size: 1.5em;
}
