

/* Mòbil Verticals*/

@media screen and (max-width:640px) and (orientation:portrait){

  body {
    background-color: green;
  }

}

/* Mòbil Apaisats*/

@media screen and (max-width:640px) and (orientation: landscape) {

  body {
    background-color: yellowgreen;
  }

}

/* Tablets Verticals*/

@media screen and (min-width:641px) and (max-width: 1200px) and (orientation:portrait){

  body {
    background-color: yellow;
  }

}

/* Tablets Apaisades*/

@media screen and (min-width:641px) and (max-width: 1200px) and (orientation:landscape){

  body {
    background-color: orange;
  }

}

/* Escriptori */

@media screen and (min-width:1200px) {

  body {
    background-color: pink;
  }

}
